/*
Template Design by Me
*/


BODY{margin:0px;font-size:13px;font-family:arial;color:#000000; background-image:url(../images/bg.gif); background-repeat:repeat-x; background-color:#D4D4D4;}
.outer
{width:942px;text-align:left; margin:0 auto;}
#logo-bg
{height:62px;}
.name
{font-size:30px; color:#F75E72; padding-top:10px; padding-left:10px;}
.name2
{color:#ffffff;}
.tag
{font-size:12px; font-weight:bold; color:#AEAEAE; padding-left:10px;}
#header
{background-image:url(../images/header-bg.jpg); background-repeat:no-repeat; height:290px;}
#links-bg
{height:50px; clear:left; margin-left:40px; padding-top:30px;}
#home
{background-image:url(../images/home.jpg); background-repeat:no-repeat; background-position:right center;width:50px;height:50px;float:left;}
#services
{background-image:url(../images/services.jpg); background-repeat:no-repeat; background-position:right center;width:50px;height:50px;float:left;}
#projects
{background-image:url(../images/projects.jpg); background-repeat:no-repeat; background-position:right center;width:50px;height:50px;float:left;}
#solutions
{background-image:url(../images/solutions.jpg); background-repeat:no-repeat; background-position:right center;width:50px;height:50px;float:left;}
#contact
{background-image:url(../images/contact.jpg); background-repeat:no-repeat; background-position:right center;width:50px;height:50px;float:left;}
.toplinks
{font-family:"trebuchet MS";font-size:13px;text-transform:uppercase;font-weight:bold;width:95px;float:left;text-align:center; margin-top:15px;}
.toplinks a
{color:#333333;text-decoration:none;}
.toplinks a:hover
{color:#F45C71;text-decoration:none;}
.sap
{background-image:url(../images/sap.gif); background-repeat:repeat-y;height:41px;width:1px;font-size:1px;float:left;}
#briefcase
{background-image:url(../images/mainlogo.png); background-repeat:no-repeat; width:921px; height:60px; float:left; margin-top:31px;}
#slogan-bg
{width:276px; height:90px; float:left; font-size:18px; color:#ffffff; padding-top:95px; padding-left:20px;}
#gap3
{height:100px; width:10px; font-size:1px; float:left;}
#left-nav
{width:218px; float:left;}
#right-nav
{width:699px; float:left;}
#rc5
{background-image:url(../images/rc.gif); background-repeat:no-repeat; background-position:right; height:37px; line-height:37px; text-transform:uppercase; font-weight:bold; color:#F45C71; padding-left:20px;}
.date
{width:66px; color:#FF9C0B; font-size:12px; font-weight:bold; padding-top:10px; clear:right;}
.small-txt
{font-family:tahoma; font-size:11px; text-align:justify; color:#CDCDCD; padding-top:10px; padding-bottom:10px;}
.read-more
{font-family:tahoma; font-size:10px; font-weight:bold; padding-left:10px; text-transform:uppercase;}
.read-more a
{color:#ffffff; text-decoration:underline;}
.read-more a:hover
{color:#ffffff; text-decoration:none;}
#news-bg
{width:190px; text-align:left;}
.dot
{background-image:url(../images/dot.gif); background-repeat:repeat-x; font-size:1px; height:1px; margin-top:5px;}
.dot2
{background-image:url(../images/dot2.gif); background-repeat:repeat-x; font-size:1px; height:1px;}
.heading
{font-size:18px; color:#5E5E5E; padding-left:15px; height:53px; line-height:53px; border-bottom:1px dashed #989898;}
#main
{padding:15px;}
#mainarea
{background-image:url(../images/bg2.gif); background-repeat:repeat-y; background-color:#ffffff; float:left; width:940px; border:1px solid #c5c5c5;}
#gap2
{height:10px; font-size:1px; background-color:#ffffff;}
#bottomline
{background-color:#DEDDD9; height:6px; font-size:1px; clear:left; width:922px;}
#bottom
{width:922px; background-color:#DEDDD9; height:50px; margin:8px;}
#gap4
{height:5px; background-color:#ffffff; font-size:1px;}
.bottomlinks
{text-align:center; float:left; width:137px; font-weight:bold; text-transform:uppercase; font-size:12px; height:30px; line-height:30px;}
.bottomlinks a
{color:#000000; text-decoration:none;}
.bottomlinks a:hover
{color:#A0081F; text-decoration:none;}
.sap2
{text-align:center; float:left; width:1px; font-weight:bold; color:#000000; height:30px; line-height:30px;}
a{color:#EB6001; text-decoration:underline;}
a:hover{color:#EB6001; text-decoration:none;}
.credit {height:28px; line-height:20px; clear:left; text-align:right; padding:5px;}
#bottom2
{width:700px;}

.login {
background:transparent url(../images/salesman.gif) no-repeat scroll left top;
height:260px;
width:396px;
}
.login-tab {
color:#4D4B4B;
font-family:Tahoma,Arial,Verdana;
font-size:11px;
font-weight:bold;
width:auto;
}
.inputusername {
background:transparent url(../images/input-bg1.gif) repeat scroll right top;
border:0 none;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
padding:9px 0 9px 28px;
width:203px;
}
.inputpassword {
background:transparent url(../images/input-bg2.gif) repeat scroll right top;
border:0 none;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
padding:9px 0 9px 28px;
width:203px;
}
.loginButton
{
border: medium none ; 
background: transparent url(../images/submit.gif) repeat scroll 0% 0%; 
-moz-background-clip: -moz-initial; 
-moz-background-origin: -moz-initial; 
-moz-background-inline-policy: -moz-initial; 
height: 30px; 
width: 76px; 
cursor: pointer;
}
